<%= form_with(model: task, local: true) do |f| %>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %><%= t('view.error_count') %></h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.datetime_field :deadline %>
  </div>

  <div class="    field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(Task.statuses.keys.map {
      |k| [I18n.t("enums.task.status.#{k}"), k] }),{ prompt: t('view.search_by_status') } %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.select :priority, options_for_select(Task.priorities.keys.map {
      |k| [t("enums.task.priority.#{k}"), k]}),{ prompt: t('view.search_by_priority') } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
