<h1><%= t('view.tasks') %></h1>

<%= form_with(url: tasks_path, local: true, method: :get, scope: :task, class: "form-group" ) do |f| %>
  <div class="form-row">
    <div class="col-2">
      <%= f.select :status, options_for_select(Task.statuses.keys.to_a.map {
        |k| [I18n.t("enums.task.status.#{k}"), k]}),{prompt: t('view.search_by_status')}, class: "form-control" %>
    </div>
    <div class="col-5">
      <%= f.text_field :name, value: params[:name], class: "form-control" %>
    </div>
    <div>
      <%= f.submit t('view.search_button'), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <%= form.select :label_id, Label.pluck(:name, :id), { include_blank: true } %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<p id="notice"><%= notice %></p>
<%= link_to t('view.new_task'), new_task_path, class: "btn btn-outline-primary", id: "create_btn" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t('view.name') %></th>
      <th colspan="1"></th>
      <th scope="col"><%= t('view.creator') %></th>
      <th scope="col"><%= link_to t('view.deadline'), sort: :deadline, direction: :desc %></th>
      <th scope="col"><%= t('view.status') %></th>
      <th scope="col"><%= link_to t('view.priority'), sort: :priority, direction: :asc %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task_row">
        <td scope="col"><%= task.name %></td>
        <td>
          <% task.labels.each do |label| %>
            <label class='badge badge-secondary'><%= label.name %></label>
          <% end %>
        </td>
        <td scope="col"><%= task.user.name %></td>
        <td scope="col"><%= time_display(task.deadline) %></td>
        <td scope="col"><%= t("enums.task.status.#{task.status}") %></td>
        <td scope="col"><%= t("enums.task.priority.#{task.priority}") %></td>
        <td><%= link_to t('view.show'), task, class: "btn btn-outline-info" %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task), class: "btn btn-outline-warning" %></td>
        <td><%= link_to t('view.destroy'), task, method: :delete, data: { confirm: t('view.are_you_sure?') }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks, theme: 'twitter-bootstrap-4' %>

