<p id="notice"><%= notice %></p>

<h1><%= t('view.tasks') %></h1>


<%= form_with(url: tasks_path, local: true, method: :get, scope: :task ) do |f| %>
  <div class="form-row">
    <div class="col-2">
      <%= f.select :status, options_for_select(Task.statuses.keys.to_a.map {
        |k| [I18n.t("enums.task.status.#{k}"), k]}),{prompt: t('view.search_by_status')}, class: "form-control" %>
    </div>
    <div class="col-5">
      <%= f.text_field :name, value: params[:name], class: "form-control" %>
    </div>
    <div>
      <%= f.submit t('view.search_button'), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= link_to t('view.new_task'), new_task_path %>

<table>
  <thead>
    <tr>
      <th><%= t('view.name') %></th>
      <th><%= link_to t('view.deadline'), sort: :deadline, direction: :desc %></th>
      <th><%= t('view.status') %></th>
      <th><%= link_to t('view.priority'), sort: :priority, direction: :asc %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task_row">
        <td><%= task.name %></td>
        <td><%= time_display(task.deadline) %></td>
        <td><%= t("enums.task.status.#{task.status}") %></td>
        <td><%= t("enums.task.priority.#{task.priority}") %></td>
        <td><%= link_to t('view.show'), task, class: "btn btn-outline-info" %></td>
        <td><%= link_to t('view.edit'), edit_task_path(task), class: "btn btn-outline-warning" %></td>
        <td><%= link_to t('view.destroy'), task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks, theme: 'twitter-bootstrap-4' %>

