<h2><%= t('view.show') %></h2>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('view.name') %></strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t('view.show') %></strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('view.deadline') %></strong>
  <%= time_display(@task.deadline) %>
</p>

<p>
  <strong><%= t('view.status') %></strong>
  <%= t("enums.task.status.#{@task.status}") %>
</p>

<p>
  <strong><%= t('view.priority') %></strong>
  <%= t("enums.task.priority.#{@task.priority}") %>
</p>

<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.back'), tasks_path %>
